*{
  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;
  --serif-font: 'Domine', serif;
  --book-serif-font: 'Merriweather', serif;
}

body{
  background-color: rgb(239, 237, 222);
  min-height: 100vh;
}

.layout{
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.title{
  text-align: center;
  margin: 3rem 0 5rem 0;
  font-size: 3rem;
  /* font-family: var(--serif-font); */
  font-family: var(--book-serif-font);
  font-size: 4rem;
  font-weight: 600;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}


/* Sidebar */

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 0.6rem 1.4rem;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar--open{
  width: 250px;
}

.sidebar__logo-container{
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar__logo{
  opacity: 0;
  font-size: 1.8rem;
  transition: all 0.5s ease;
}

.sidebar__title{
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.menu__icon{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: all 0.4s ease;
  font-size: 2.3rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar__icon{
  color: #fff;
  height: 60px;
  min-width: 50px;
  text-align: center;
  line-height: 60px;
}

/* menu in the sidebar*/

.nav__menu{
  margin-top: 20px;
  height: 100%;
}

.nav__item{
  position: relative;
  margin: 0.8rem 0;
  list-style: none;
}

.nav__tooltip{
  position: absolute;
  top: -2rem;
  left: calc(100% + 15px); /* basically right 0 and then 15 more px*/
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  /* transition: 0s; */
}

.nav__item:hover .nav__tooltip{
  opacity: 1;
  /* pointer-events: auto; */
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.nav__link{
  display: flex;
  /* height: 100%; */
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.nav__link:hover{
  background: #FFF;
}

.nav__link:hover .nav__icon{
   /* transition: all 0.5s ease;  */
  color: #11101D;
}

.nav__link-text{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.nav__link:hover .nav__link-text{
  color: #11101d;
}

.nav__icon{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

/* main content */

.main-container{
  /* position: relative; */
  /* background: #E4E9F7; */
  /* min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease; */
  /* z-index: 2; */
}

.main-container{
  width: calc(100% - 78px);
  margin-left: 78px;
  transition: all 0.5s ease;
}

.main-container-reduced{
  width: calc(100% - 250px);
  margin-left: 250px;
}

/* .sidebar--open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
} */






@media (max-width: 420px) {
  .sidebar li .nav__tooltip{
    display: none;
  }
}



/* Bookcase */

.bookcase-container{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  box-sizing: border-box;
  padding: 2rem;
}

/* Book design */

.book{
  width:300px;
  height:420px;
  /* background: #F33139; */
  background: #F33139;

  border-radius: 20px 16px 12px 32px;
  background-image: linear-gradient(to right,#D11F2F 48px, #ba0716 50px, transparent 50px);  
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.44),
                      6px 0px 7px -4px rgba(0,0,0,0.59); 
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.44),
              6px 0px 7px -4px rgba(0,0,0,0.29);

  position: relative;
  box-sizing: border-box;
  padding: 1.5rem 0.5rem;
  /* margin: 1rem; */
  display: flex;
  justify-content: flex-end;
  
}

.book:after{
  content: '';
  position: absolute;
  left: 3px;
  bottom: 0;
  height: 45px;
  width: 98.9%;
  bottom: 5px;
  background: white;
  border-radius: 32px 4px 4px 32px;
  box-shadow: inset 4px 6px 0px 0px #E4E0CE;  
  background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 8px, transparent 12px, #E4E0CE 12px, transparent 14px, transparent 18px,#E4E0CE 18px, transparent 20px, transparent 24px, #E4E0CE 24px, transparent 26px, transparent 30px, #E4E0CE 30px, transparent 32px, transparent 36px, #E4E0CE 36px, transparent 38px, transparent 42px, #E4E0CE 42px, transparent 44px, transparent 48px, #E4E0CE 48px, transparent 50px);     
}

/* Book content */

.book__data{
  width: calc(100% - 4.5rem);
  height: calc(100% - 4.5rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding-right: 0.5rem;
  color: rgb(255, 255, 255);
  font-family: var(--book-serif-font);
}

.book__title{
  text-align: center;
  margin-bottom: 3rem;
  /* margin-left: 0.5rem; */
  margin: 2rem 0 3rem 0.5rem;
  font-size: 2rem;
  width: 85%;
  position: relative;
  z-index: 3;
}

.book__title:before{
  content: "";
  position: absolute;
  left: -0.25rem;
  top: -0.5rem;
  opacity: 0.35;
  width: 100%;
  padding: 0.5rem 0rem 0.5rem 0.5rem; 
  height: 100%;
  border-radius: 1rem;
  background-color: #000;
  z-index: -5;
}

.book__by{
  /* margin-left: 35%; */
  font-size: 1.6rem;
}

.book__author{
  margin-left: 0.5rem;
  font-size: 1.8rem;
  width: 90%;
  text-align: center;
}

/* Custom scrollbar in case of the book text overflowing. Only displayed on chrome though, as it's not part of W3 specification and other browsers don't support it */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(100, 100, 100);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {

  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background-color: #fff;
}


.invisible{
  opacity: 0;
}

.hidden{
  display: none;
}